/*------------------------------------*\
  #Base Typography
\*------------------------------------*/



html {
  font-family: $body-font-family;
}

// typescale.com 1.200 Minor Third
html {
  font-size: 100%;
} // 16px // 📣 is this just my systmem defaults?

body {
  background-color: $white;
  font-weight: 400;
  line-height: 1.65;
  color: #333; // 🚨 why is this not a variable?
}

p {
  margin-bottom: 1.15rem; // document this
}

// I don't love this syntax but it might be best on some way
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 2.75rem 0 1.05rem; // 🚨 this is really large for smaller h tags // 🚨 never use 3
  font-family: $major-font-family;
  font-weight: 400; // 📣 double check this
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  margin-top: 0; // why am I crushing this in all situations
  font-size: 2.488em; // 39.808
}

h2 {
  font-size: 2.074em;
} // 33.184px

h3 {
  font-size: 1.728em; // 27.684px
  margin-top: 1rem; // this seems like a bad place to have this even if the one use is nice
}

h4 {
  font-size: 1.44em;
} // 23.04px

h5 {
  font-size: 1.2em;
} // 19.2px

.one-point-two-em {
  // h5 or a single step up
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

p {
  // margin-bottom: $global-margin;
  line-height: 1.6; // 🚨 body { line-height: 1.65;
  }

a {
  color: $secondary-color; // passes contrast checks when primary does not
  text-decoration: none;
}

a:hover {
  // color: $secondary-color; // 📣 needs more
  text-decoration: underline;
}

.text-center {
  text-align: center;
}