/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  // @extend .bg-primary; // this isnt working
  background: var(--secondary-color); // needed for wide menu
  display: flex;
  flex-direction: column;

  > .hero__logo {
    background: var(--primary-color);
    display: grid;
    place-items: center;
    z-index: 3; // sliding logo
    position: relative; // needed for z-index

    > div {
      display: inline-block;
      border-radius: 5px;
      margin-block: 2rem;

      > svg {
        display: block;
        max-width: 20rem;
        fill: var(--white);

        @media (min-width: $breakpoint__medium) {
          margin-block: 0;
        }
      } // svg
    } // a
  } // .hero__logo
}

.hero__logo a:hover {
  background: hsl(var(--primary-color-b), calc(var(--primary-color-l) - 10%));
  transition: 0.5s ease;

  svg {
    fill: var(--light-gray);
  }
}
