// Variables

// custom priest
// https://docs.google.com/spreadsheets/d/1mmnTlSNv-L8dyHRb33eE_pM3qVv-a5hz3q9WfTDlI4c/edit#gid=0

/* $breakpoints: (
	"small": "0",
	"medium": "40em", // 640px
	"medium__half-step": "54em", // 864px minor change 
	"large": "90em", // 1440px // Im getting the feeling this is too small
	"large__half-step": "120em", // 1920px minor change 
	"full": "144em", // 2304px // this could just be large__half-step 
	// Im doing quite a lot of work to get this to be different and nice
	// I wonder if some of these have to be specific to the piece
); */

/* BREAKPOINTS */
// this was a sass map but I have problems with those so I'm skipping them
$breakpoint__small: 0; // document this?
$breakpoint__medium: 40rem; // 640px
$breakpoint__medium--half-step: 54rem; // 864px minor change
$breakpoint__large: 90rem; // 1440px // Im getting the feeling this is too small
$breakpoint__large--half-step: 120rem; // 1920px minor change
$breakpoint__full: 139rem; // 2304px // this could just be large__half-step
// for the px surely I need the body size above?
// include something about measure in here

$page-width: 77rem; // this should probably meet up with breakpoints
$general-measure: 30rem; // document this somewhere

$header-menu-size: 70rem; // guess and check

$print-breakpoint: large; // 🚨 check on print sheets

$primary-color: #1e93bd;
$secondary-color: #006087; // document if this is a darken
// $warning-color: #ffae00; // currently not used

$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #d1d1d1; // slightly adapted so the footer ratio is passing contrast guidelines
$dark-gray: #8a8a8a;

// 1rem should be a horizontal margin and generally not vertical
$global-margin: 1rem;
$global-padding: 1rem;
$global-grid-gap: $global-margin;

$body-font-family: "Open Sans", sans-serif;
$major-font-family: "Roboto Slab", serif; // rename this it's also nav and buttons etc 

:root {
	/*------------------------------------*/
	//  #colors
	/*------------------------------------*/
	
	--primary-color-b: 195.8, 72.6%;
	--primary-color-l: 42.9%;
	// --primary-color: hsl(var(--primary-color-b), var(--primary-color-l));
	--primary-color: hsl(195.8, 72.6%, 42.9%); // #1e93bd

	--secondary-color-b: 197.3, 100%;
	--secondary-color-l: 26.5%;
	--secondary-color: hsl(197.3, 100%, 26.5%); // #006087

	--priest-blend: linear-gradient(184deg, rgba(30, 141, 183, 1) 0%, rgba(0, 96, 135, 1) 50%);
	// gradient has to be from 50% to get a pass on wave.webaim.org

	--black: hsl(0, 0%, 4%);
	--blackish: hsl(0, 0%, 13%);
	--dark-gray: hsl(0, 0%, 54%);
	--medium-gray: hsl(0, 0%, 82%); // slightly adapted so the footer ratio is passing contrast guidelines
	--light-gray: hsl(0, 0%, 90%);
	--white: hsl(0, 0%, 96%);

	/*------------------------------------*/
	//  #spacing
	/*------------------------------------*/
	
	--global-margin: 1rem;
	--global-padding: 1rem;
	--global-grid-gap: var(--global-margin);

	/*------------------------------------*/
	//  #layout
	/*------------------------------------*/
	
    --general-measure: 30rem;
    --header-menu-size: 70rem;
    --page-width: 77rem;

	/*------------------------------------*/
	//  #typography
	/*------------------------------------*/
	
	--h1-fs:  2.488rem;
	--h2-fs:  2.074rem;
	--h3-fs:  1.728rem;
	--h4-fs:  1.44rem;
	--h5-fs:  1.2rem;
	--h6-fs:  1rem;

	/*------------------------------------*/
	//  #borders
	/*------------------------------------*/
	--backed-radius: 0.5rem;
}